body{
    margin:auto;
    background-color:whitesmoke;
}
.todos{
    background-color:white;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todos h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
.results{
    margin-top:20px;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
/* #checkAll{
    margin-top:10px;
} */
