
/*.todoWrapper {
    text-align: left;
    margin-bottom: 10px;
  }
  .removeTodo {
    margin-right: 20px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: none;
    border-width: 2px;
  }*/
  .editcontent{
    width: 500px;
  /*  margin-top: 17px;*/
  }