  .panel-title {
    color: black;
    margin: 0 0px;
    padding: 15px 20px;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bold;
    cursor: pointer;
  }
  .description
  {
    display: inline-block;
  }
  .md-36-title {
    font-size: 36px;
    float:right;
  }
  .md-36-edit {
    font-size: 20px;
    margin-right: 15px;
    margin-top: 3px;
  }
  .md-36-delete {
    font-size: 20px;
  }
  /*.material-icons.md-36-title {
    font-size: 36px;
    float:right;
  }
  .material-icons.md-36-con {
    font-size: 30px;
  }*/
  /*.material-icons.md-36.icon-edit {
    font-size: 36px;
  
  }*/
  /*.material-icons.md-light {
    color:red;
    float:left;
  }*/
  .cont{
  position: relative;
  margin-bottom:20px;
  /*width: 280px;
  height: 50px;*/
  }
  /*.adder_icon {
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -14px;
    margin-right: -5px;
    fill: rgba(0,0,0,0.3);
    padding: 8px 5px;
}*/
  .md-light
  {
    float:left;
    display:inline-block;
  }
  .action{
      float:right;
  }
  .left_menu
  {
   /* user-select: none !important;*/
    float: left;
    width: 265px;
    padding-left: 0px;
    padding-top: 0px;
   /* position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;*/
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
  }
  .content_container {
    min-height: 380px;
   /* background-color: #fff;*/
    padding: 0 20px;
    margin-left: 280px;
    border-right: 1px solid #f1f1f1;
}
.addcontent
{
  margin-top: 17px;
}
/*.todo-list>li .tools {
    display: none;
    float: right;
    color: #dd4b39;
}
.todo-list>li:hover .tools{
    display: block;  
}
.no-border {
    border: 0 !important;
}*/